/*universal styles*/
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetia", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
      
}

/*header flex container section*/
#header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

/*header flex elements section*/
header {
    height: 69px;
    width: 100%;
    
    background-color: black;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.logo img {
    height: 50px;
    padding-left: 10px;
}

nav ul li {
    display: inline-flex;
    text-decoration: underline;
    padding: 0 20px;
}

#main-section {
    max-width: 1200px;
    /*flex-basis: 1200px;*/
    padding-top: 69px;
    margin:0 auto; /* centers the image left and right*/
}

.mission-wrapper {
    background-image: url("images/img-mission-background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

  #main-section .mission-statement {
    background-color: black;
    width: 100%;
    margin: auto 0;
  }

